# Local (défaut)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_gest_dette
DB_USER=root
DB_PASSWORD=root
DB_CHARSET=utf8mb4

# Aiven (TLS obligatoire)
# Exemple:
# DB_HOST=mysql-xxxx.h.aivencloud.com
# DB_PORT=17559
# DB_NAME=defaultdb
# DB_USER=avnadmin
# DB_PASSWORD=change-me
DB_USE_SSL=true
# Chemin vers le certificat CA (dans ce repo: ./database/ca.pem)
DB_SSL_CA=./database/ca.pem
