# Local (défaut)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_gest_dette
DB_USER=root
DB_PASSWORD=root
DB_CHARSET=utf8mb4

# Mettre true pour Aiven (TLS obligatoire)
DB_USE_SSL=false
# Chemin vers le certificat CA (ex: ./database/ca.pem)
DB_SSL_CA=./database/ca.pem
